@import "tailwindcss";

:root {
  --background: hsl(300, 20%, 15%);
  --foreground: white;
  --stack: #7d7d7d40;
  --accent: #ffE600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-stack: var(--stack);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  padding: 0px;
}

button:hover,
a:hover {
  cursor: pointer;
}